img{
  width: 120px;
  height: 120px;
}
main{
  display: flex;
  height: 40vh;
  width: 50vh;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  align-content: space-between;
  justify-content: center;
}

